#datatables_buttons_info {
    background-color: darkorchid;
}
#datatables_buttons_info h2{
    background-color: rebeccapurple;
}

#example1_previous a{
    color: white;
}

.page-link{
    color: white;
}

#add-btn{
    position: fixed;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    
}

.pagination li a{
    color: white!important;
}


