
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Müşteri Kayıt</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="Order" asp-action="Add" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Müşteri Ünvanı:</label>
                <input type="text" class="form-control" placeholder="Müşteri Ünvanı">
                <span class="text-danger" style="font-size: 12px;"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Adres:</label>
                <input type="text" class="form-control" placeholder="Adtes">
                <span class="text-danger" style="font-size: 12px;"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Vergi Numarası:</label>
                <input type="text" class="form-control" placeholder="Vergi Numarası">
                <span class="text-danger" style="font-size: 12px;"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Vergi Dairesi:</label>
                <input type="text" class="form-control" placeholder="Vergi Dairesi">
                <span class="text-danger" style="font-size: 12px;"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Mail:</label>
                <input type="text" class="form-control" placeholder="Mail">
                <span class="text-danger" style="font-size: 12px;"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">İletişim Numarası:</label>
                <input type="text" class="form-control" placeholder="İletişim Numarası">
                <span class="text-danger" style="font-size: 12px;"></span>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>