@model Entities.Concrete.Customer

<table id="example1" class="table table-bordered table-striped">
    <thead class="bg-dark">
        <tr>
            <th>hello</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div id="example1" class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>