<div class="container-fluid">
    <div class="row">
        <a asp-controller="order" asp-action="index" class="col-12 col-sm-6 col-md-3">
            <div>
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">İş Emirleri</span>
                        <span class="info-box-number">
                            10
                            <small>%</small>
                        </span>
                    </div><!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </a>

        <a asp-controller="slaughterhouse" asp-action="index" class="col-12 col-sm-6 col-md-3">
            <div>
                <div class="info-box">
                    <span class="info-box-icon bg-danger color-palette elevation-1"><i class="fas fa-cut"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Kesimhane</span>
                        <span class="info-box-number">
                            10
                            <small>%</small>
                        </span>
                    </div><!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </a>


    </div>
</div>