@model Entities.Concrete.Brand

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Marka Kayıt</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="brand" asp-action="Add" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Marka:</label>
                <input asp-for="@Model.BrandName" type="text" class="form-control" placeholder="Müşteri Ünvanı">
                <span class="text-danger" style="font-size: 12px;"></span>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>